site_name: DevOps Journey
site_url: https://blog.mathod.fr
repo_url: https://github.com/Mathod95/docs
repo_name: Mathod95/docs
edit_uri: edit/main/docs/

nav:
  - HOME: index.md
  - Kuberentes: kubernetes/index.md
  - Argo: argo/index.md
  - Crossplane: crossplane/index.md
  - Tags: tags.md
  - Blog: # https://squidfunk.github.io/mkdocs-material/plugins/blog/#config.blog_dir-documentation--blog
    - blog/index.md
  - About me: about-me/index.md

theme:
  icon:
    repo: fontawesome/brands/github
  font:
    text: JetBrains Sans
    code: JetBrains Code
  name: material
  language: fr
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - navigation.footer
    - content.action.view

markdown_extensions:
  - abbr # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown/#abbreviations
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - toc:
      toc_depth: 6
      permalink: true
  - tables
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true


plugins:
  - search:
      lang: fr
    #- social # https://squidfunk.github.io/mkdocs-material/setup/setting-up-social-cards/
  - blog
  - tags
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: Mathod95/docs
      branch: main

extra:
  analytics:
    provider: google
    property: G-FY4MN6NVXN
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Mathod95
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/mathod/